// Media Query Manager
@mixin respond($bp) {
  @if $bp == tablet {
    @media only screen and (min-width: 40rem) {
      @content;
    }
  }
}

// CSS Custom Properties
:root {
  // Primary Colors //
  --color-primary-red: hsl(0, 100%, 67%);
  --color-primary-yellow: hsl(39, 100%, 56%);
  --color-primary-teal: hsl(166, 100%, 37%);
  --color-primary-blue: hsl(234, 85%, 45%);

  // Gradient Colors //

  // Background Gradient Colors
  --color-gradient-bg-1: hsl(252, 100%, 67%);
  --color-gradient-bg-2: hsl(241, 81%, 54%);

  // Circle Gradient Colors
  --color-gradient-circle-1: hsla(256, 72%, 46%, 1);
  --color-gradient-circle-2: hsla(241, 72%, 46%, 0);

  // Neutral Colors //
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-lavender: hsl(241, 100%, 89%);
  --color-neutral-grey-blue: hsl(224, 30%, 27%);
}

// Import Font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

// Body
body {
  font-size: 1.125rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;

  @include respond(tablet) {
    display: grid;
    place-items: center;
  }
}

// Main Card
.card {
  max-width: 40rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  @include respond(tablet) {
    border-radius: 2rem;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.1);
  }
}

// Screen Reader Text Only for Accessibility
.sr-only {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
